#top .col .row .col:nth-child(2) {
    margin-top: 10px;
}

#top .col:nth-child(2) .row {
    padding: 10px;
    width: 100%;
    background-color: red
}

.btn-top {
    margin-left: 600px;
    padding-top: 10px;
}
